.leftcard-heading {
    font-size: 13px;
    color: grey;
    text-align: left;
    padding-top: 5px;
    padding-left: 11px;
    padding-bottom: 11px;
    font-weight: 600;
}
.leftcard-h2 {
    font-size: 14px;

    text-align: left;
    padding-bottom: 4px;
}

.leftcard-p {
    font-size: 12px;
    text-align: left;
    color: grey;
}
