.App{
    height: 100vh;
    width:100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    
}
.rightSide{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Sidebar{
    height: 100%;
    width:350px;
    background-color: #2f4050;
}
.SidebarList{
    height: 100%;
    width: 100%;
    padding: 0;
}
.SidebarList .row:nth-of-type(1){
    width: 100%;
    height:65px;
    font-weight: 600;
    font-size: 20px;

}
.SidebarList .row:last-of-type #title {
text-decoration: underline;

}
.SidebarList .row{
    
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid whitesmoke;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
    
}
.row #icon{
    flex:10%;
    place-items: center;
    text-align: center;
}
.row #title {
    padding-left: 10px;
    flex: 90%;
    text-align: left;
}

.SidebarList .row:hover{
    cursor: pointer;
    background-color: #293846;
}
.cards{

height: 100px;
display: flex;
justify-content: center;
width: 400px;
padding-top: 30px;
border-radius: 6px;

}
.bottom{
    /* display: none; */
    width: auto;
    text-align: center;
    margin: 10px auto;
    background-color: rgb(231, 204, 163);
}
.cards h1{
    color: white;
    font-size: 16px;
}
.cards h2{
    color:black;
    font-size: 12px;
    font-weight: 800;
}